<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li><a href="/products">Show Products</a></li>
            <li><a href="/products/create">Create Product</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <div class="form-container">
            <h2>New Product</h2>
            <form action="/products/create" method="post">
                <label for="url">Product Link:</label>
                <input type="text" id="url" name="url" required>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html> -->